<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para o CSS personalizado -->
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
</head>
<body>
    <header>
       
            
                
                   
                       
                            <a class="nav-link font-weight-bold" href="/">INÍCIO <span class="sr-only">(current)</span></a>
                       
                        
                            <a class="nav-link font-weight-bold" href="/">GALERIA</a>
                        
                    
                            <a class="nav-link font-weight-bold" href="/contato">CONTATO</a>
                     
                
            
        
    </header>
</body>
</html>



